/* Profiles.module.css */

/* General Styles */
.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.friendsButton {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.friendsButton:hover {
  background-color: #e0e0e0;
}

.friendsText {
  margin-left: 8px;
  font-size: 16px;
}

.content {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: auto;
  max-height: calc(100vh - 60px); /* Adjust based on header/footer height */
}

.profile {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 113px;
}

.profileHeader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profileText {
  flex: 1;
}

.profileImage {
  flex: 0 0 auto;
}

.profileImage img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.email {
  font-size: 14px;
  color: #333;
}

.actionButton {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.actionButton:hover {
  background-color: #0056b3;
}

.chatButton {
  background-color: #28a745;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.chatButton:hover {
  background-color: #218838;
}
.ContentChat {
  position: relative;
  bottom: 0;
  right: -750px;
}